.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkColor{
  color: black;
  text-decoration: none;
}
.carousel {
  position: relative;
  max-width: 25rem;

}

.block-Home-1{ 
  display:flex;
  overflow: hidden;
  text-align:center;
  flex-direction:column;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-inline: 5px;
  margin-block: 10px;
}
.logo-adop{
  width: 100%;
  max-width: 20rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.social{
  display:flex;
  overflow: hidden;
  text-align:center;
  flex-direction:column;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mapStyle{
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fotter-cont{
    justify-content: center;
    padding: 0px 15px 0px 0px;
    height: auto;
    display: inline-table;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}