.nav-content-1{
    margin-top: 32.5px;
    margin-bottom: 32.5px;
}

.nav-content-2{
    margin-top: 32.5px;
    margin-bottom: 32.5px;
}
.content-display{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px 100px 0px;
}

